:root {
    --background: #FFFFFF;
    --grey: #E0E0E0;
    --text-grey: #525252;
    --dark-grey: #333333;
    --article-grey: #666666;
    --black: #0A0A0A;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: var(--background);
    color: var(--black);
    overflow: hidden;
}

.navbar {
    position: fixed;
    padding: 40px 60px;
    width: 100%;
}

.navbar__logo {
    width: 60px;
    height: 60px;
}

.main {
    width: 100%;
    height: 100%;
}

.most-recent {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: var(--text-grey);
    position: absolute;
    letter-spacing: 1px;
    top: 72px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 500;
    background: var(--background);
    padding: 14px;
}

.frame {
    position: absolute;
    height: 70%;
    width: 65%;
    top: 52%;
    left: 55%;
    transform: translate(-50%,-50%);
    border: 3px solid var(--grey);
    border-radius: 4px;
}

.article {
    width: 100%;
    height: 100%;
}

.article-hidden {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(45%);
}

.article__content {
    background: var(--background);
    padding: 56px;
    height: 90%;
    width: 70%;
    transform: translate(-36%, 5%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.content__info {
    font-size: 14px;
    color: var(--article-grey);
}

.content__info-date {
    display: block;
    padding-bottom: 10px;
}

.content__title {
    max-width: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 70px;
    padding-bottom: 10px;
}

.content__preview {
    color: var(--article-grey);
    width: 70%;
}

.article__images {
    position: absolute;
    right: -85px;
    top: 0;
    height: 100%;
}

.img-large {
    height: 120%;
    position: relative;
    top: -10%;
    right: 0;
    z-index: 500;
}

.img-container {
    height: 26%;
    position: absolute;
    transform: rotate(45deg);
    background: var(--background);
}

.img-small {
    position: relative;
    filter: blur(1px);
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.2);
}

.img-container.top {
    left: 60px;
    top: -80px;
}

.img-container.left {
    left: 6px;
    bottom: -40px;
}

.img-container.right {
    right: -70px;
    bottom: 50px;
}

.article__location {
    transform: rotate(90deg) translateX(50%);
    position: absolute;
    height: 30px;
    right: -90px;
    top: -10px;
    font-size: 12px;
    width: 130px;
    color: var(--text-grey);
    overflow: hidden;
    z-index: 1;
}

.location {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.frame-button {
    text-decoration: none;
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    background: var(--background);
    letter-spacing: 2px;
    box-shadow: 0px 20px 40px 15px rgba(0,0,0,0.1);
    width: 280px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-30%,50%);
    z-index: 600;
    overflow: hidden;
}

.button-text-hidden {
    position: absolute;
    transform: translateY(100px);
    opacity: 0;
}